.dropzone {
  width: 371px;
  height: 371px;
  border-radius: 50px;
  cursor: pointer;
  font-family: Vibur;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // box-shadow: inset 20px 20px 80px rgba(0, 0, 0, 0.1), 
  //               inset -20px -20px 40px #FFFFFF;
  border: dashed 3px #e6e6e6;
  // animation: dropzoneFade var(--speedFadeIn) ease-in-out;
  animation-fill-mode: forwards;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  animation: all .5s ease-in;
}

.dropzone:hover {
  background-color: #f2f2f2;
}

.dropzoneText {
  font-family: sans-serif;
  color: #e6e6e6;
  font-weight: bold;
  font-size: 1.5rem;
}